.app {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
  padding: 0 4rem;
}

.ingredients, .instructions, .start {
  padding: 1rem 2rem;
}

.start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ingredients {
  grid-area: 2 / 1 / 3 / 2;
}

.ingredients ul {
  list-style: none;
  padding-left: 1rem;
}

.instructions {
  grid-area: 2 / 2 / 3 / 3;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  background: none;
  display: block;
  padding: 0.5rem 1.2rem;
  border: 0.1em solid #FFFFFF;
  box-sizing: border-box;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

.button:hover, .button:focus {
  color:#000000;
  background-color:#FFFFFF;
}

.button:disabled {
  color: grey;
  border-color: grey;
  background: none;
}

.buttons {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons .button {
  width: 75%;
  margin-bottom: 1rem;
}

input {
  max-width: 2rem;
  margin-left: 1rem;
  border: none;
  padding: 0.1rem 0.25rem;
}

button, input {
  border-radius: .12rem;
  font-size: inherit;
}
